.image-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .image-slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .image-slide {
    min-width: 100%;
    flex: 0 0 auto;
  }
  
  .image-slide img {
    width: 100%;
    height: auto;
  }
  
  .slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .slide-arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .slide-arrow-prev {
    left: 10px;
  }
  
  .slide-arrow-next {
    right: 10px;
  }
  