/* Slider.css */
.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  min-width: 100%;
  box-sizing: border-box;
}

.slider-item img,
.slider-item video {
  width: 100%;
  border-radius: 10px;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-button:first-of-type {
  left: 10px;
}

.slider-button:last-of-type {
  right: 10px;
}

.active {
  display: block;
}

.slider-item:not(.active) {
  display: none;
}
