/* styles.css */
.responsive-pdf-icon {
    width: 36px; /* default width */
    height: auto;
  }
  
  @media (max-width: 600px) {
    .responsive-pdf-icon {
      width: 24px; /* smaller width for mobile devices */
    }
  }
  